@font-face {
  font-family: "iconfont"; /* Project id 3544831 */
  src: url('iconfont.woff2?t=1658729008171') format('woff2'),
       url('iconfont.woff?t=1658729008171') format('woff'),
       url('iconfont.ttf?t=1658729008171') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dongtai:before {
  content: "\e64f";
}

.icon-dengpao:before {
  content: "\e67d";
}

.icon-wodedahuiyuan:before {
  content: "\e6c3";
}

.icon-xiaoxi:before {
  content: "\e630";
}

.icon-lishi:before {
  content: "\e607";
}

.icon-shoucang:before {
  content: "\e8b9";
}

